@import '../../styles/mixins';

.aboutus-section {
    padding: 20px 0;
    background-color: $pageBackground;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #F1ED84 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #4d4c4c;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

