@import "../../styles/mixins";
.nav {
    display: flex;
    flex-direction: column;
    background-color: $background;
    position: relative;

    &-container {
    flex-direction: column;
    }

    &-logo {
    max-width: 100%;
    }
  
    &-bar {
    color: $blackmat !important;

        &:hover {
        color: $fontlight !important;
        }
    }
}

#basic-nav-dropdown {
    color: $blackmat;
}


