@import "../../styles/mixins";

/* Variables */
$bg-image: "../../assets/images/background.jpg";
$bg-overlay: rgba(32, 32, 32, 0.7);
$primary-color: #FFFFFF;
$secondary-color: #fcf9fb;

/* Mixins */
@mixin bg-images(
    $image-path: "../../assets/images/background.jpg",
    $overlay-color: rgba(255,255,255,0.2),
    $position: center center) {
    position: relative;

    &:before {
        background:
            linear-gradient(
              $overlay-color,
              $overlay-color
            ),
            url($image-path);
        background-position: $position;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: ' ';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
}

header {
  @include bg-images(
    $image-path: $bg-image,
    $overlay-color: $bg-overlay
  );
  padding: 1.25rem;
  text-align: center;
  height: 30vh;

    @include tablet {
    height: 66vh;
    padding: 3rem;
    }

    @include desktop {
    height: 90vh;
    }
  
  .container {
   margin: 0;
   width: 100%;
   vertical-align: middle;

     @include tablet {
     padding: 6rem;
     }

     @include desktop {
    max-width: 1280px;
     padding: 25vh;
     margin-left: 3.5%;
     }

     @include xldesktop {
      max-width: 2080px;
       padding: 25vh;
       margin-left: 1%;
     }
  }
}
  
h1 {
  border-bottom: 2px solid $primary-color;
  border-top: 2px solid $primary-color;
  color: $primary-color;
  font-family: $fontfamily;
  font-size: 1rem;
  margin: 0;


    @include tablet {
    font-size: 1.5rem;
    }

    @include desktop {
    font-size: 2rem;
    }
}
  
h3 {
  color: $secondary-color;
  font-family: $fontfamily;
  font-size: .875rem;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding-top: 1rem;

    @include tablet {
    font-size: 1rem;
    padding-top: 2rem;
    }

    @include desktop {
    font-size: 1.5625rem;
    }
}

h5 {
  color: $secondary-color;
  font-family: $fontfamily;
  font-size: .75rem;
  font-weight: 200;
  font-style: italic;
  padding-top: .3125rem;
  margin: 0;
  line-height: 1.25;

    @include tablet {
    font-size: 1rem;
    }

    @include desktop {
    font-size: 1.5625rem;
    }
}
