@import "../../styles/mixins";

.footer {
    background-color: $background;
    padding-bottom: 1rem;
    
    &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    
        @include tablet {
        padding-top: 0;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        }

    &--social {
        display: flex;
        margin-top: .5rem;
        transform: translate3d(0, 0, 0);
        perspective: 1000px;
        filter: drop-shadow(0 0 .5px $blackmat) drop-shadow(0 0 8px $blackmat);
        transition-delay: 0.3s;
    
            @include tablet {
            margin-top: 1rem;
            }
    
            @include desktop {
            margin-top: 1.5rem;
            }
        }
    }

    &-icon{
        display: inline-block;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        background-color: $background;
        border-radius: .312rem;
        font-size: .80rem;
        color: $blackmat;
        text-align: center;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: .0625rem;
        text-decoration: none;
        
            &:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
            color: $fontlight;
            }
                
            @include tablet {
            width: 1.5625rem;
            height: 1.5625rem;
            font-size: 1.25rem;
            margin-right: .625rem;
            margin-top: 1rem;
            }
              
            @include desktop {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1.875rem;
            margin-right: 1.562rem;
            margin-left: 2.187rem;
            line-height: 3.25rem;
            }
        }
    
    &-txt {
    font-weight: 900;   
    letter-spacing: .0813rem;
    color: $black;
    letter-spacing: .0625rem;
    text-align: center;
    line-height: 1.25rem;

        @include desktop {
        padding-top: 4rem;    
        }
    }
    
    &-title {
    width: 50%;
    font-size: .75rem;

        @include tablet {
        font-size: .8125rem;
        width: 35%;
        }

        @include desktop {
        font-size: 1.125rem;
        width: 25%;
        padding-left: 0;
        }
    }

    &-copyright {

        @include desktop {
        padding-right: 3.125rem;
        }
    }

}