@import '../../styles/mixins';

.contact-section {
    padding: 20px 0;
    background-color: $pageBackground;
}

.btn {
    background-color: $background;
            
        &:hover {
        color: $fontlight;
        }
}

