@import '../../styles/mixins';

.contact-section {
    padding: 20px 0;
    background-color: $pageBackground;
}

.aboutus-text {
    color: #4d4c4c;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

