$black: #151518;
$blacker: #404043;
$grey: #57555a;
$font: #99979a;
$blkgrey: #383739;
$border: #121212;
$white: #fff;
$lightgrey: #c2c2c2;
// $background: #84b0f1;
$background: #64676c;
$pageBackground: #c8d8f5;
$blackmat: #161611;
$fontlight: #f0f1f2;
$cement: #888f97;


//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
$fontfamily: 'Montserrat', sans-serif;

//media breakpoint for mobile
@mixin mobile {
    @media screen and (max-width: 400px) {
      @content;
    }
}

//media breakpoints for tablet */
@mixin tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
}

//media breakpoints for desktop 
@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
    }
}

//media breakpoints for xldesktop 
@mixin xldesktop {
  @media screen and (min-width: 1880px) {
    @content;
    }
}